.card {}

.card-content {}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.error-container {
  margin-top: 2rem;
}

.error-container>p {
  border-radius: 10px;
  justify-content: space-between;
}