.card {
  flex: 1;
  max-height: 75vh;
}

.content {
  max-height: 100%;
  overflow: scroll;
}

.unassigned-team {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
  max-height: 2rem;
}

.assigned {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 2rem;
  max-height: 2rem;
  height: 100%;
}

.assigned>div {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-container {
  padding: .2rem;
  flex: 1;
}

.number-box {
  flex-basis: 10%;
  margin-right: .2rem;
  text-align: center;
}

.accept-button-container { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}