.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  flex-direction: row !important;
}

.button-container>button {
  flex: 1 !important;
}

.registration-counter {
  cursor: pointer;
}

.registration-counter:hover {
  background-color: #e8e8e8;
  border-radius: 5px;
}